In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams

rcParams['figure.figsize'] = 15, 5
sns.set_style('darkgrid')

In [44]:
data = pd.read_csv("data (1).csv", header=None)

In [45]:
data.head()

      0     1  2
0  0.77 -1.14  0
1 -0.33  1.44  0
2  0.91 -3.07  0
3 -0.37 -1.91  0
4 -1.84 -1.13  0

In [46]:
# adding column name to the respective columns
data.columns =['feature1', 'feature2', 'class']

In [47]:
data.head()

   feature1  feature2  class
0      0.77     -1.14      0
1     -0.33      1.44      0
2      0.91     -3.07      0
3     -0.37     -1.91      0
4     -1.84     -1.13      0

In [48]:
X = data.iloc[:, 0:2]
y = data.iloc[:, 2]

In [49]:
X.shape, y.shape

((100, 2), (100,))

In [50]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [51]:
# Normalize the data (mean zero, unit variance)

sc = StandardScaler()
X = sc.fit_transform(X)

In [52]:
# Shuffle the data and create train/test splits: X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.15, random_state = 1)

In [53]:
X_train.shape, y_train.shape

((85, 2), (85,))

In [25]:
plt.scatter(X_train, color='red', marker='o', label='class 0')
plt.scatter(X_train, color='blue', marker='x', label='class 1')
plt.xlabel('feature 1')
plt.ylabel('feature 2')
plt.legend(loc='upper left')
plt.show()

TypeError: scatter() missing 1 required positional argument: 'y'

In [54]:
plt.figure(figsize=(10, 6))

sns.scatterplot(x = X_train['feature1'], y = X_train['feature2'], hue = data['class'])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices